<%= form_tag '/empty_room/result', method: :post do %>
    <select name='building[number]' onchange='update_floor_info(this.value)'>
      <% Building.all.order(number: :asc).each do |b| %>
          <option value="<%= b.number %>"><%= b.name %> (<%= b.number.to_s %>)</option>
      <% end %>
    </select>

    <%= render partial: 'empty_room/floors', object: Building.find(1).rooms %>

<% end %>


<script>
    function update_floor_info(building_num) {
        jQuery.ajax({
            url: "/empty_room/floor_info",
            type: "GET",
            data: {"number" : building_num},
            dataType: "html",
            success: function(data) {
                jQuery("#select").html(data);
            }
        });
    }
</script>