<% if @a %>
    위치기반 검색 : <%= @a %>동<%= @b %>
<% end %>
<% if @c %>
    부서기반 검색 : d<%= @c %> b<%= @b %> f<%= @e %>
<% end %>
<%= render 'rooms/search_form' %>
<%= render 'rooms/search_pos' %>
<%= render 'rooms/rooms' %>

<p class="center">
<%= link_to '교양시간표 보기', timetable_normals_path %>
<%= link_to '전공시간표 보기', timetable_majors_path %>
</p>

<%= render 'rooms/time' %>