
<div class="login-container">

<%= form_for resource, as: resource_name, url: session_path(resource_name), html: {class: 'login-form'} do |f| %>
      <div>
        <%= f.text_field :email, autofocus: true, placeholder: '아이디' %>
      </div>
      <div>
        <%= f.text_field :password, placeholder: '비밀번호' %>
      </div>
      <div>
        <%= f.submit '로그인' %>
      </div>
      <div>
        <%= render "devise/shared/links" %>
      </div>
<% end %>



</div>