<header class="main-header">
  <!--삼등분|(1)|2|3|-->
  <div class="main-box-third log-stat">
    <ul class="log-stat">
      <% if user_signed_in? %>
          <li><%= current_user.email %>님</li>
          <li><%= link_to'로그아웃', destroy_user_session_path %></li>
      <% else %>
          <li><%= link_to new_user_session_path, class: 'icon-label' do %>
                <i class="fa fa-envelope-o" aria-hidden="true"></i> 가입하기
            <% end %></li>
          <li><%= link_to user_session_path, class: 'icon-label' do %>
                <i class="fa fa-user-o" aria-hidden="true"></i> 로그인
            <% end %></li>
      <% end %>
    </ul>
  </div>
  <!--삼등분|1|(2)|3|-->
  <div class="main-box-third box-logo">
    <%= link_to root_path do %>
        <div class="small-color-bar">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <h1 class="logo">Classinfo </h1>
    <% end %>
    <p class="version">beta 1.0</p>
  </div>
  <!--삼등분|1|2|(3)|-->
  <div class="main-box-third func">
    <ul class="nav-ul">
      <li><%= link_to '/gonggang/index', class: 'icon-label' do %>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 공강(현재빈강의실)
        <% end %></li>
      <li><%= link_to '/search/index', class: 'icon-label' do %>
        <i class="fa fa-search" aria-hidden="true"></i> 강의실대여
      <% end %></li>
    </ul>
  </div>
</header>
<div class="blue-bar">
  <% if user_signed_in? or true %>
  <div class="left">
    <p>
      <%= link_to '#', class: 'go-school' do %>
        (학교로고) DKU CAU
      <% end %>
      <%= link_to '/func/timetable', class: 'icon-label' do %>
        <i class="fa fa-calendar" aria-hidden="true"> 내시간표</i>
      <% end %>
      <%= link_to '#', class: 'icon-label'  do %>
        <i class="fa fa-user-circle" aria-hidden="true"> 정보수정</i>
      <% end %>
    </p>
  </div>
  <div class="right">
    <%= link_to '/gonggang/index', class: 'icon-label' do %>
      <i class="fa fa-pencil-square-o" aria-hidden="true"> 빈강 </i>
    <% end %>
    <%= link_to '/search/index', class: 'icon-label' do %>
      <i class="fa fa-search" aria-hidden="true"> 강의실 </i>
    <% end %>
  </div>
  <% end %>
</div>